@media (min-width: 100px) and (max-width: 199px){
  .exampleee,   .exampleer,   .examplees, 
  .meimg,   .video-responsive {
    max-width: 50px;
    height: 50px;
  }
  .video-responsive {
    border-style: inset;
    border-color: rgb(245, 159, 31);
    border-width: 10px;
}
  img {
    max-width: 400px;
    max-height: 350px;
  }

}

@media (min-width: 200px)  and (max-width: 800px){
  .exampleee,   .exampleer , .exampleer, .examplee, .meimg, .transparent{
    width: 1400px;
    max-height: 350px;
  }
  .video-responsive {
    width: 800px;
    max-height: 300px;
}
  img {
    max-width: 400px;
    max-height: 350px;
  }

}

@media (min-width: 801px) and (max-width: 1300px) {
  .exampleee,   .exampleer,   .examplees {
    max-width: 700px;
    max-height: 600px;
  }
  .video-responsive {

    width: 2000px;
    max-height: 300px;
  }
}




h1, h2, h3, h4, h5, h6, p {
  padding: 0px;
}

.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  margin: 5px 5px; 
  padding: 15px;
  color: white;
  text-align: center;
  justify-content: center;
  min-height: 1350px;
  font-family: 'Playfair Display', serif;
  list-style-type: none;
  background-image: url("https://i.postimg.cc/j5yX1dHx/shutter-155295878-robot-future.jpg");
  background-size: cover;
}

-- navs

.nav {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  list-style: inside;
}

.servicesnav{
  justify-content: center;
  list-style: none;
}

.tutorialsnav {
  display: flex;
  flex-direction: column;
  border-style: solid;
  border-width: thick;
  border-color: white;
}

-- links
.link {
  margin: 15px;
  margin-bottom: 15px;
  margin-top: 15px;
  margin-left: 25px;
  margin-right: 15px;
  padding: 5px;
  list-style-type: none;
}
.link2 {
  color: rgb(248, 221, 15);
  font-size: 25px;
}
.link2:hover {
  cursor: pointer;
  box-shadow: 0 0.4rem 2.4rem 0 rgb(15, 3, 47);
  transform: translateY(-0.1rem);
  transition: transform 150ms;   
  background-color: rgb(7, 3, 38);
}
.link:hover{
  cursor: pointer;
  box-shadow: 0 0.4rem 2.4rem 0 rgb(24, 3, 82);
  transform: translateY(-0.1rem);
  transition: transform 150ms;   
  background-color: rgb(44, 121, 222);
}
.msglink:hover{
  cursor: pointer;
  box-shadow: 0 0.4rem 2.4rem 0 rgb(15, 3, 47);
  transform: translateY(-0.1rem);
  transition: transform 150ms;   
  background-color: rgb(11, 149, 187);
}
.msglink {
  color: rgb(225, 244, 9);
  font-size: 50px;
  list-style-type: none;
  padding: 15px;
  margin: 15px;
  background-color: none;
}

.github {
  font-size: 25px;
  color: white;
  font-weight: bold;
  text-decoration: none;
}

.contact {
  display: flex;
  flex-direction: column;
}

.link {
  color: rgb(255, 255, 255);
  font-size: 25px;
  font-weight: bolder;
  background-color: none;
  list-style-type: none;
}

.example {
  width: 600px;
  max-height: 450px;
  border-style: solid;
  border-width: 5px;
  border-color: rgb(194, 141, 28);
  padding: 5px;
  margin: 15px;
}
.examplee {
  width: 600px;
  height: 500px;
  border-style: solid;
  border-width: 5px;
  border-color: rgb(194, 141, 28);
  padding: 5px;
  margin: 15px;
}
.exampleee {
  width: 900px;
  height: 900px;
  border-style: solid;
  border-width: 5px;
  border-color: rgb(194, 141, 28);
  padding: 5px;
  margin: 15px;
}

.exampleer {
  width: 1000px;
  height: 500px;
  border-style: solid;
  border-width: 5px;
  border-color: rgb(194, 141, 28);
  padding: 5px;
  margin: 15px;
}

.examplees {
  max-width: 1250px;
  height: 700px;
  border-style: solid;
  border-width: 5px;
  border-color: rgb(194, 141, 28);
  padding: 5px;
  margin: 15px;
}

.meimg {
  width: 600px;
  height: 450px;
  border-style: groove;
  border-color: rgb(8, 23, 157);
  border-width: 5px;
  transition: width 2s, height 4s;
  background-color: red;
  animation-name: example;
  animation-duration: 4s;
}

.transparent {
  background-color: rgb(198, 169, 0);
  border-style: solid;
  border-width: 7px;
  border-color: rgb(255, 255, 255);
  padding: 10px;
  margin: 10px;
}

.video-responsive {
  width: auto;
  padding: 10px;
  margin: 10px 10px;
  border-style: inset;
  border-color: rgb(245, 159, 31);
  border-width: 10px;
}



.black {
  background-color: black;
  border-style: solid;
  border-color: white;
  padding: 5px;
  margin: 5px;
}

.white {
  border-style: solid;
  border-color: rgb(203, 186, 4);
  padding: 5px;
  margin-bottom: 5px;
}

.blue {
  color: rgb(0, 195, 255);
  text-decoration: underline;
}

.tiny {
  font-size: 20px;
}
.tinny {
  font-size: 10px;
}

.title {
  font-family: 'Dancing Script', cursive;
  font-size: 30px;
}


.hr {
  padding: 5px;
  margin: 15px;
}

.hrhr {
  padding: 15px;
}



.services{
  background-image: url("https://i.postimg.cc/yNQRTLLy/embdded-dl-blog.jpg");
  background-color: rgb(9, 0, 0);
  padding: 10px;
  margin: 10px;
}


