.nav {
  list-style-type: none;
}
.link {
  color: rgb(224, 216, 216);
  font-size: 25px;
  font-weight: bolder;
  background-color: none;
  
}
.link2 {
  color: white;
  font-size: 15px;
}
.link2:hover {
  cursor: pointer;
  box-shadow: 0 0.4rem 2.4rem 0 rgb(24, 3, 82);
  transform: translateY(-0.1rem);
  transition: transform 150ms;   
  background-color: rgb(62, 4, 62);
}
.link:hover{
  cursor: pointer;
  box-shadow: 0 0.4rem 2.4rem 0 rgb(24, 3, 82);
  transform: translateY(-0.1rem);
  transition: transform 150ms;   
  background-color: rgb(62, 4, 62);
}

.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  margin: 15px; 
  padding: 15px;
  color: black;
  text-align: center;
  justify-content: center;
  background: linear-gradient(rgb(243, 242, 240), rgb(235, 178, 5), rgb(0, 0, 0));
  min-height: 600px;
  font-family: 'Playfair Display', serif;
}

.aboutmenav {
  border-style: thin;
  border-color: rgb(88, 21, 88);
  color: black;
}

.homenav{
  border-style: thin;
  border-color: rgb(88, 21, 88)
}

.servicesnav{
  justify-content: center;
  list-style: none;
}
.example {
  width: 600px;
  max-height: 450px;
}

.meimg {
  width: 600px;
  height: 450px;
  border-style: groove;
  border-color: rgb(207, 130, 13);
  border-width: 10px;
}

.msglink {
  color: black;
  font-size: 20px;
  list-style-type: none;
}

.github {
  font-size: 10px;
  color: black;
  font-weight: bold;
  text-decoration: none;
}