.nav {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  list-style: inside;
}
.link {
  color: rgb(255, 255, 255);
  font-size: 25px;
  font-weight: bolder;
  background-color: none;
  
}
.link {
  list-style-type: none;
}
.link2 {
  color: white;
  font-size: 20px;
}
.link2:hover {
  cursor: pointer;
  box-shadow: 0 0.4rem 2.4rem 0 rgb(24, 3, 82);
  transform: translateY(-0.1rem);
  transition: transform 150ms;   
  background-color: rgb(62, 4, 62);
}
.link:hover{
  cursor: pointer;
  box-shadow: 0 0.4rem 2.4rem 0 rgb(24, 3, 82);
  transform: translateY(-0.1rem);
  transition: transform 150ms;   
  background-color: rgb(62, 4, 62);
}
.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  margin: 5px 5px; 
  padding: 15px;
  color: white;
  text-align: center;
  justify-content: center;
  min-height: 900px;
  font-family: 'Playfair Display', serif;
  list-style-type: none;
  background-image: url("https://i.postimg.cc/j5yX1dHx/shutter-155295878-robot-future.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.aboutmenav {
  border-style: thin;
  border-color: rgb(88, 21, 88);
  color: black;
}

.homenav{
  border-style: thin;
  border-color: rgb(88, 21, 88)
}

.servicesnav{
  justify-content: center;
  list-style: none;
}


.tutorialsnav {
  display: flex;
  flex-direction: column;
}
.example {
  width: 600px;
  max-height: 450px;
  border-style: solid;
  border-color: rgb(5, 5, 80);
}

@keyframes example {
  from {background-color: red;}
  to {background-color: yellow;}
}


.meimg {
  width: 600px;
  height: 450px;
  border-style: groove;
  border-color: rgb(8, 23, 157);
  border-width: 5px;
  transition: width 2s, height 4s;
  background-color: red;
  animation-name: example;
  animation-duration: 4s;
}

.msglink {
  color: rgb(225, 244, 9);
  font-size: 20px;
  list-style-type: none;
  padding: 15px;
  margin: 15px;
}

.github {
  font-size: 15px;
  color: white;
  font-weight: bold;
  text-decoration: none;
}

.title {
  font-family: 'Dancing Script', cursive;
}

.contact {
  display: flex;
  flex-direction: column;
}

.black {
  background-color: black;
  border-style: solid;
  border-color: white;
  padding: 5px;
  margin: 5px;
}

.white {
  border-style: solid;
  border-color: rgb(203, 186, 4);
  padding: 5px;
  margin: 5px;
}
.hr {
  padding: 5px;
  margin: 15px;
}

.services{
  background-image: url("https://i.postimg.cc/yNQRTLLy/embdded-dl-blog.jpg");
  padding: 15px;
}