
body {
  background: linear-gradient(rgb(195, 137, 2), rgb(58, 1, 1));
}

.link {
  color: white;
}

.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  margin: 15px; 
  padding: 5px;
  color: white;
  text-align: center;
  justify-content: center;
}

.aboutmenav {
  border-style: thin;
  border-color: rgb(88, 21, 88);
  color: black;
}

.homenav{
  border-style: thin;
  border-color: rgb(88, 21, 88)
}

.servicesnav{
  border-style: thin;
  border-color: rgb(88, 21, 88)
}

.example {
  width: 800px;
  max-height: 600px;
}